.lt-marker-container {
  font-size: 13px;
  font-family: sans-serif;
}

.lt-buttons {
  box-shadow: 0 5px 11px -2px rgba(0, 0, 0, 0.18),
    0 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  z-index: 1000;
}

.lt-buttons:active,
.lt-buttons:focus,
.lt-buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.lt-remind-btn {
  background-color: #fff;
  opacity: 0.5;
  /* images/main.png: */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkSCgkBTZ6R6wAAAExJREFUOMtjFEl785+BAsDEQCEYNWDUANoY8HqmMEl8JmySxNIMDAwMDCJpb/6LpL35DwPIbEJ8kbQ3/1FcIJr+liSagYGBgZHS7AwA08JR4ozGxZoAAAAASUVORK5CYII=");
}

.lt-check-done-btn {
  background-color: #fff;
  opacity: 0.5;
  /* images/checkmark.png: */
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QoeFQwKvTedAwAAAGBJREFUOMtj5N3L8J+BAsDEQCGgvwGfnP4zfHL6T54BMI18+xhJNwCbZqINwKUZwwBkvxGjGcUAmEJkQwhpZmBgYGBETkjYXIBPM4YX0BUT0ow1EGGaiNGM4YURkhfQAQC2eyWsbkxToAAAAABJRU5ErkJggg==');
}

.lt-error-btn {
  opacity: 0.5;
  background-color: #ff0000;
  line-height: 16px;
  text-align: center;
  color: #fff;
}

.lt-buttons:not(:first-child) {
  visibility: hidden;
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* delay animation on timeout */

.lt-auto-check-btn {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* images/autocheck.png: */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkcDTM2NRqLKwAAAU5JREFUKM+VUrGOgkAUHDZKY6FWGksI1rgUlHZU/gD/Z+wpjIU0dMZA0MqQwNZCgZhAIwVXLNlTvMudr9p9O/NmZvOkpmnwSfWeL2VZhmHIGCuKomma0WikKAql1HEcQoht2y+Ey+Xium5d16KT53me5+fz+bnZE+jdbgdA0zRK6WQyAXC9Xn3fZ4x1LZVl6bougOVyaRiGePM8L03TTgYCIAzDuq41TXtGAyCEiPNsNvtW4KKU0s4wnvIHhaIoAHDffxb55/ev1+vNZtMSxuMxgPd8otI0zbLsfr+3BEVRAARB8BvhcDgAmM/nLUHX9X6/H8ex7/vv6OPxmCSJLMumaQKQ+C5FUbTdbgGoqmoYxnQ65U6CIIjjGMBqteIKkli+KIr2+/3j8egoyLJsWRZHvxAAVFV1Op0YY7fbDcBwOFRVdbFYDAYDgZE+Xe8vANCew9xO6m4AAAAASUVORK5CYII=');
}

.lt-auto-check-off-btn {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* images/autocheck-off.png: */
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QoYCCkckIWXSgAAAWNJREFUKM+FkqGOwkAQhv9tlhoEoCDg2gQNi+ApDrC8w8HD9B7gDMG3BIXCIdoUJAlZTRGlJMVQMSe6tD1SwpjNzs4388+fZQQAAKnzY7C8kCiOY9/3pZRRFBFRvV43DEMIYdu2pmnT6RQABxEYAwDGfi0rSZKsQxiGYRgeDodikis9jAGYzecrxxFCNJtNAOfz2XVdKWVRkgYgjuMfy0rvX6NRp9PhnHPOt9vtS7UCfN9PkmTlOM+9mHrTtKyu3W7nktI2QojiPiBKtyyZEEURgFR37u9zTgnwGmXMYrFYLpcKaDQaAIIgeMcEQXC5XG63mwIMwwDged67ObvdDkC321VAr9erVCqn08l13VJmPJnouj4cDgEwIgJwPB7X6zUA0zQHg0Gr1UqVeJ43Go+LvAJSZrPZPB6PFwt0Xf+ezTImBwDc7/f9fi+lvF6vAGq1mmma/X6/Wq1mjv0DPv1sBuAPAkaseTaLYNUAAAAASUVORK5CYII=');
}

.lt-auto-check-manual-btn {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* images/autocheck-off.png: */
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QoYCCkckIWXSgAAAWNJREFUKM+FkqGOwkAQhv9tlhoEoCDg2gQNi+ApDrC8w8HD9B7gDMG3BIXCIdoUJAlZTRGlJMVQMSe6tD1SwpjNzs4388+fZQQAAKnzY7C8kCiOY9/3pZRRFBFRvV43DEMIYdu2pmnT6RQABxEYAwDGfi0rSZKsQxiGYRgeDodikis9jAGYzecrxxFCNJtNAOfz2XVdKWVRkgYgjuMfy0rvX6NRp9PhnHPOt9vtS7UCfN9PkmTlOM+9mHrTtKyu3W7nktI2QojiPiBKtyyZEEURgFR37u9zTgnwGmXMYrFYLpcKaDQaAIIgeMcEQXC5XG63mwIMwwDged67ObvdDkC321VAr9erVCqn08l13VJmPJnouj4cDgEwIgJwPB7X6zUA0zQHg0Gr1UqVeJ43Go+LvAJSZrPZPB6PFwt0Xf+ezTImBwDc7/f9fi+lvF6vAGq1mmma/X6/Wq1mjv0DPv1sBuAPAkaseTaLYNUAAAAASUVORK5CYII=');
}

.lt-disable-btn {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* images/power-off.png: */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkSChQtgCqRFAAAAbZJREFUKM+Vks1rE0EYh5/ZSWI+NCGFTcFKg7aHUKomKCIoWIoXEUFFhf4N/j29e8nFHi22B7G1WGMuHqRZJI31I61WS8nHpts02dn1sGbrWg92DsPwzjz8Xp53hOu6HGdpR0uW9b1UnJ0tlr5Z1n8Bqtfe2lVqd2vP/kd4yD/t7Rgrz5c2ZOHe7YwAEEK1SsUn7+xzN25NTWZigYRu50t5/sV6SylXasKP16RQqrX+cv7N57YVAEzj1ZoJ8Ym7jy6l5AAQqfz9B+fj0KmsfDAPgU5ns1ZpgsxOXxs9ETrUJtxI9PSV6ayEZmXDc6AB0t3fNgE9NwTgylNZXUp99KRwADed0wFz23MQAhwHAWAf2ApIJIYvzjy+TB/CgOb0bM+B35IWSY0kgcbHnb7XS9jf4OBnrQEkR8aTid9ALJYZy+ug6qvlanM/MMRmtbxaV6DnxwKW4rmbhSRY1cW5hWWj7hW/GssLc4tVC9KFmfzQQMRAirI+LT19ZrSPzDY5cefh1NlE6G8AUKr7Y+312/e1zUYPiKTPjF+4en1yOCr90QQBoNtX0bB/7Tp2XwtF/nwgjvu9fwEIb7V91WxeEwAAAABJRU5ErkJggg==");
}

.lt-marker-container:hover .lt-remind-btn:hover {
  /* images/checkmark.png: */
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QoeFQwKvTedAwAAAGBJREFUOMtj5N3L8J+BAsDEQCGgvwGfnP4zfHL6T54BMI18+xhJNwCbZqINwKUZwwBkvxGjGcUAmEJkQwhpZmBgYGBETkjYXIBPM4YX0BUT0ow1EGGaiNGM4YURkhfQAQC2eyWsbkxToAAAAABJRU5ErkJggg==');
}

.lt-marker-container:hover .lt-remind-btn:hover,
.lt-marker-container:hover .lt-check-loading-btn:hover,
.lt-marker-container:hover .lt-check-done-btn:hover,
.lt-marker-container:hover .lt-error-btn:hover,
.lt-marker-container:hover .lt-disable-btn:hover {
  opacity: 1;
}

.lt-marker-container:hover .lt-buttons:not(:first-child) {
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.lt-marker-container:hover .lt-buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.lt-marker-container:hover .lt-buttons:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 20ms;
  background-size: contain;
}

/* Show tooltip content on hover */

.lt-buttons[tooltip]:before {
  bottom: 100%;
  right: 5%;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 11px;
  visibility: hidden;
  opacity: 0;
  padding: 5px;
  margin-bottom: 5px;
  position: absolute;
  white-space: pre-wrap;
  text-align: center;
  width: fit-content;
}

.lt-buttons[tooltip]:hover:before,
.lt-buttons[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
