body {
  font-family: sans-serif;
  font-size: 100%;
  padding-right: 8px;
  /* needed for FF to look better */
  background-color: white;
  max-width: 450px;
}

a {
  text-decoration: none;
}

li {
  margin-bottom: 6px;
}

hr {
  height: 1px;
  color: #dddddd;
  background: #dddddd;
  font-size: 0;
  border: 0;
  margin-top: 1px;
  margin-bottom: 10px;
}

#ltIcon {
  float: right;
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

#status {
  min-width: 400px;
  min-height: 100px;
  max-width: 600px;
  margin: 5px;
}

#outerHint {
}

#turnOffAutoCheckIcon {
}

#hint,
#reactivateIcon,
#warning,
#saveVariant {
  padding: 8px;
  background-color: #eeeeee;
  border-radius: 7px;
  margin-bottom: 8px;
}

#hint a,
#reactivateIcon a,
#turnOffAutoCheckIcon a,
#saveVariant a {
  text-decoration: none;
}

#saveVariant a:visited {
  color: rgb(0, 0, 238);
}

#hint tt {
  background-color: #eeeeee;
  padding: 2px;
}

#closeLink {
  background-image: url(../images/close.png);
  margin-right: 5px;
  float: right;
  width: 16px;
  height: 16px;
}

#closeLink:hover {
  background-image: url(../images/close-hover.png);
}

#close {
  background-color: #eee;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 6px;
}

#close:hover {
  background-color: #ddd;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

#language {
  height: 30px;
  max-width: 240px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-bottom: 8px;
}

.errorArea {
  margin-top: 10px;
  color: #666666;
  margin-bottom: 3px;
}

.error {
  color: #042dda;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  background-image: url("../images/squiggle.png");
  background-repeat: repeat-x;
  background-position: left bottom;
}

.programError {
  margin-top: 20px;
}

.poweredBy {
  font-size: small;
  color: #777777;
}

#reviewRequest {
  font-size: small;
  color: #777777;
}

.quotedLinesIgnored {
  font-size: small;
  color: #777777;
}

.privacyLink {
  font-weight: bold;
  font-size: large;
}

.replacements {
  margin-top: 12px;
  line-height: 1.5;
}

.replacement:hover {
  background-color: #ffe790;
}

.replacement {
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
  height: 150%;
  color: black;
  border: 2px solid #fff3c7;
  background-color: #fff3c7;
  text-decoration: none;
}

.quoteChar {
  padding-left: 2px;
  padding-right: 2px;
  font-family: monospace;
  background-color: #dddddd;
}

.addToDict {
  border: 2px solid transparent;
  float: right;
  background: url(../images/plus.png) no-repeat;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.addToDict:hover {
  background: url(../images/plus_highlight.png) no-repeat;
  cursor: pointer;
}

.addToDictLink {
  padding-left: 4px;
  padding-right: 4px;
}

.turnOffRule {
  border: 2px solid transparent;
  float: right;
  background: url(../images/bell.png) no-repeat;
  width: 18px;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.turnOffRule:hover {
  background: url(../images/bell_highlight.png) no-repeat;
  cursor: pointer;
}

.turnOffRuleLink {
  padding-left: 4px;
  padding-right: 4px;
}

.ignoredRulesIntro {
  font-size: small;
  color: #777777;
}

.turnOnRuleLink:hover {
  color: #222222;
}

.turnOnRuleLink {
  font-size: small;
  color: #777777;
  text-decoration: none;
}

/* Suggestion Row Styling */

.hiddenSpellError {
  border-left-color: rgba(255, 0, 0, 0.2);
  border-left-style: solid;
}

.hiddenGrammarError {
  border-left-color: #fee481;
  border-left-style: solid;
}

.hiddenSuggestion {
  border-left-color: rgb(201, 205, 255);
  border-left-style: solid;
}

.suggestionRow {
  padding: 8px;
  margin-bottom: 8px;
}

.suggestionActiveRow {
  border: 2px solid #042dda;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 9px;
  padding-right: 6px;
}

.replacementActive,
.turnOffRuleActive,
.addToDictActive {
  border-style: solid;
  border-color: #008000;
}

.errorMessageDetail {
  color: #666666;
}

.privacyNoteDetails {
  color: #666666;
}
