body {
  overflow: hidden;
  color: black;
  background: blue;
}

#title {
  font-weight: bold;
  font-size: 1em;
  color: white;
}

#toggle {
  top: 8px;
  right: 4px;
  position: absolute;
  margin: 0 1em;
  text-decoration: none;
}
