body {
	background-color: white;
	counter-reset: i;
	font-family: Verdana, sans-serif;
}

div {
	font-size: 10px;
}

.msg:before {
	counter-increment: i;
	content: counter(i) ": ";
}

.msg {
	font-weight: bold;
}

.context, .status {
	color: gray;
}

.panel .suggestions {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

[class^="marker"] {
	padding-bottom: 2px;
	background-repeat: repeat-x;
	background-position: left bottom;
	color: DimGray;
}

.markerGrammar {
	background-image: url("squiggle.png");
}

.markerSpelling {
	background-image: url("squiggle_red.png");
}

hr {
	border-color: white;
}

hr:last-child, hr + hr {
	display: none;
}

.hidden {
	display: none;
}

#close, #openSidebar {
	float: right;
}

#close > a {
	position: relative;
	top: -4px;
	right: -4px;
	padding: 5px 5px 3px 5px;
	color: red;
	text-decoration: none;
	font-size: 14px;
}

#openSidebar > a {
	position: relative;
	top: -5px;
	right: -3px;
	padding: 4px 5px 2px 5px;
	color: black;
	text-decoration: none;
	font-size: 16px;
}

#openSidebarTooltip {
	text-align: right;
	position: absolute;
	top: 24px;
	right: 20px;
	padding: 2px;
	color: gray;
	background: white;
	border: 1px solid gray;
	font-size: 10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s ease-out, visibility 0s .3s;
}

#openSidebar:hover ~ #openSidebarTooltip {
	visibility: visible;
	opacity: .9;
	transition: opacity .6s ease-in .3s, visibility 0s .3s;
}
