body {
	background-color: white;
	counter-reset: i;
}

div {
	font-family: Verdana, sans-serif;
	font-size: 10px;
}

.msg:before {
	counter-increment: i;
	content: counter(i) ": ";
}

.msg {
	font-weight: bold;
}

.context, .status {
	color: gray;
}

[class^="marker"] {
	padding-bottom: 2px;
	background-repeat: repeat-x;
	background-position: left bottom;
	color: DimGray;
}

.markerGrammar {
	background-image: url("squiggle.png");
}

.markerSpelling {
	background-image: url("squiggle_red.png");
}

hr:last-child {
	display: none;
}